<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS_file/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script>
        if ('{{ msg }}'.length > 0) {
            alert('{{ msg }}');
        }

        function check() {
            var pw1 = document.getElementById("pw1").value;
            var pw2 = document.getElementById("pw2").value;

            if (pw1 === pw2) {
                alert("암호가 일치 합니다.");
            } else {
                alert("암호가 불일치 합니다. 다시 입력하세요.");
                document.getElementById("pw1").value = "";
                document.getElementById("pw2").value = "";
                document.getElementById("pw1").focus();
            }
        }

        function pageSubmit() {
            var f1 = document.forms['f1'];
            f1.method = "post";
            f1.action = "";
            f1.submit();
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="page">
            <div class="title">회원가입 페이지</div>
            <form name="f1" method="post">{% csrf_token %}
                <input type="text" name="username" placeholder="아이디">
                <input type="password" id="pw1" placeholder="암호">
                <input type="password" id="pw2" placeholder="암호 확인" onchange="check()">
                <input type="text" name="last_name" placeholder="성">
                <input type="text" name="first_name" placeholder="이름">
                <input type="email" name="email" placeholder="이메일">
                <button type="button" onclick="pageSubmit()">회원가입</button>
            </form>
            <div class="signup">
                <span>이미 계정이 있으신가요? <a href="/">로그인</a></span>
            </div>
        </div>
    </div>

</body>
</html>
