<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}   
</head>
<body>
    <header>
        <h1>헬스 정보 방</h1>
    </header>
    <div class="container">
        <div class="menu-item">
            <h2>
                <button type='button' class = "btn btn-primary btn-lg" onclick="document.location.href='aerobic/'">
                유산소 운동 영상
                </button>
            </h2>
            </a></h2>
            <p>유산소 운동 영상을 올리는 곳.</p>
        </div>
        <div class="menu-item">
            <h2>
                <button type='button' class = "btn btn-danger btn-lg"
                onclick="document.location.href='arm/'">
                무산소
                </button>
            </h2>
            <p>근력 운동 영상을 올리는 곳.</p>
        </div>
    <footer>
        &copy; 2024 Health Community
    </footer>
</body>
</html>